<div class="body">
    <div class="login-container">

        <video autoplay muted loop id="bg-video">
            <source src="/assets/videos/bgVideo.mp4" type="video/mp4" />
        </video>
        <img src alt />
        <div class="overlay"></div>
        <form class="custom-form">
            <img class="mb-4 medclin-logo" src="/assets/img/logo.png" alt width="100%" height="300px" />

            <div class="form-floating custom-inputs">
                <input type="email" class="form-control" id="floatingInput" placeholder="name@example.com" />
                <label for="floatingInput">Usuário</label>
            </div>
            <div class="form-floating custom-inputs">
                <input type="password" class="form-control" id="floatingPassword" placeholder="Password" />
                <label for="floatingPassword">Senha</label>
            </div>

            <div class="form-check text-start my-3">
                <input class="form-check-input" type="checkbox" value="remember-me" id="flexCheckDefault" />
                <label class="form-check-label" for="flexCheckDefault">
                    Lembrar-me
                </label>
            </div>
            <button class="btn btn-primary w-100 py-2" type="submit">Login</button>
            <p class="mt-5 mb-3 text-body-secondary">&copy; 2024</p>
        </form>
        <a href="https://www.google.com" target="_blank" rel="noopener">
        <img class="logo-winters" src="/assets/img/WintLogo.png"  winterHover alt="Logo Winter's" />
        </a>
    </div>

</div>