<div class="body">
    <br>
    <div class="container">
        <div class="card">
            <img src="#" class="card-img-top" alt="...">
            <div class="card-body">
                <h5 class="card-title">Iniciar Atendimento</h5>
                <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                <a href="#" class="btn btn-primary">Go somewhere</a>
            </div>
        </div>
        <div class="card">
            <img src="#" class="card-img-top" alt="...">
            <div class="card-body">
                <h5 class="card-title">Criar Atestado</h5>
                <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                <a href="#" class="btn btn-primary">Go somewhere</a>
            </div>
        </div>
        <div class="card">
            <img src="#" class="card-img-top" alt="...">
            <div class="card-body">
                <h5 class="card-title">Criar Receita</h5>
                <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                <a href="#" class="btn btn-primary">Go somewhere</a>
            </div>
        </div>
        <div class="card">
            <img src="#" class="card-img-top" alt="...">
            <div class="card-body">
                <h5 class="card-title">Cadastrar Paciente</h5>
                <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                <a href="#" class="btn btn-primary">Go somewhere</a>
            </div>
        </div>
        <div class="card">
            <img src="#" class="card-img-top" alt="...">
            <div class="card-body">
                <h5 class="card-title">Atestados Emitidos</h5>
                <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                <a href="#" class="btn btn-primary">Go somewhere</a>
            </div>
        </div>
        <div class="card">
            <img src="#" class="card-img-top" alt="...">
            <div class="card-body">
                <h5 class="card-title">Receitas Emitidas</h5>
                <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                <a href="#" class="btn btn-primary">Go somewhere</a>
            </div>
        </div>

    </div>
</div>
